.DS_Store
.o
.sconsign
obj
Makefile
Makefile.Debug
Makefile.Release
debug
object_script.libquackle.Debug
object_script.libquackle.Release
release
ChangeLog
libquackle.a
quacker/moc
quacker/quacker.app
quackleio/libquackleio.a
makeminidawg/makeminidawg
makegaddag/makegaddag
